
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright-report/index.html


.vscode/*
.slingshot/*
.agent/*


*.png
*.jpg
*.jpeg
*.mp4
*.webm
